@import './default/reset';
@import './default/base';
@import './variables/globals';
@import './themes/light';
@import './themes/dark';

.app {
	font: var(--font-m);
	background: var(--background);
	color: var(--text-main);
}

.content-page {
	display: flex;
}

.page-wrapper {
	flex-grow: 1;
	padding: 20px;
}
