@import "./variables/globals";

@import "./default/base";
@import "./default/reset";

@import "./themes/dark";
@import "./themes/light";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.button {
  padding: 10px;

  border: 1px solid black;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;

  width: 100%;

  padding: 20px;
}