/* Стили для обычного чекбокса */
.checkbox {
	&__label {
		display: flex;
		align-items: center;
		width: fit-content;
		padding: 6px 8px;
		border-radius: 6px;
		transition: all 0.2s ease;
		overflow: hidden;
		cursor: pointer;
		user-select: none;
		-webkit-user-select: none;

		&:not(:last-child) {
			margin-right: 6px;
		}

		&:hover {
			background: rgb(0 119 255 / 6%);
		}

		&:hover span:first-child {
			border-color: var(--mint);
		}
	}

	span {
		display: flex;
		align-items: center;
		flex-direction: row;
		transform: translate3d(0, 0, 0);
		font-size: var(--font-text-m);
	}

	&__check {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 18px;
		height: 18px;
		border-radius: 4px;
		transform: scale(1);
		border: 1px solid var(--base-03);
		transition: all 0.2s ease;
		box-shadow: 0 1px 1px rgb(0 16 75 / 5%);
	}

	&__text {
		padding-left: 8px;
		line-height: 18px;
	}

	&__input {
		position: absolute;
		visibility: hidden;
	}

	&__input:checked + &__label span:first-child {
		background: var(--mint);
		border-color: var(--mint-secondary);
		animation: wave-4 0.4s ease;
	}

	&__input:checked + &__label span:first-child img {
		width: 10px;
		height: 10px;
		stroke-dashoffset: 0;
	}

	&__image {
		width: 0;
		height: 0;
		pointer-events: none;
		user-select: none;
	}
}

@media screen and (width <= 64rem) {
	.checkbox {
		&__label {
			width: 100%;
			display: inline-block;
		}
	}
}

@keyframes wave-4 {
	50% {
		transform: scale(0.9);
	}
}

/* стили для айфоновского переключателя */

.toggler {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: var(--font-text-m);

	&__input {
		display: none;

		&::selection,
		&::after::selection,
		&::before::selection,
		& *::-moz-selection,
		& *::after::-moz-selection,
		& *::before::-moz-selection,
		& + .toggler__button::-moz-selection,
		&::selection,
		&::after::selection,
		&::before::selection,
		& *::selection,
		& *::after::selection,
		& *::before::selection,
		& + .toggler__button::selection {
			background: none;
		}
	}

	&__button {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&::after,
		&::before {
			content: '';
			position: relative;
			display: block;
			width: 50%;
			height: 100%;
		}

		&::after {
			left: 0;
		}

		&::before {
			display: none;
		}
	}

	&__input:checked + &__button::after {
		left: 50%;
	}

	&__ios + &__button {
		background: #fbfbfb;
		border-radius: 2em;
		padding: 2px;
		transition: all 0.4s ease;
		border: 1px solid #e8eae9;

		&::after {
			border-radius: 2em;
			background: #fbfbfb;
			transition:
				left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
				padding 0.3s ease,
				margin 0.3s ease;
			box-shadow:
				0 0 0 1px rgb(0 0 0 / 10%),
				0 4px 0 rgb(0 0 0 / 8%);
		}

		&:hover::after {
			will-change: padding;
		}

		&:active {
			box-shadow: inset 0 0 0 2em #e8eae9;
		}

		&:active::after {
			padding-right: 0.8em;
		}
	}

	&__ios:checked + &__button {
		background: var(--mint);
	}

	&__ios:checked + &__button:active {
		box-shadow: none;
	}

	&__ios:checked + &__button:active::after {
		margin-left: -0.8em;
	}
}

/* стили для кнопки чекбокса */

.button {
	font-size: var(--font-text-m);

	&__input {
		position: absolute;
		height: 1px;
		width: 1px;
		clip: rect(0 0 0 0);
		-webkit-clip-path: inset(100%);
		clip-path: inset(100%);
		overflow: hidden;
		white-space: nowrap;

		&:checked {
			+ {
				.button__tile {
					border-color: var(--mint);
					box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
					color: var(--mint);

					&::before {
						transform: translate(0, -50%) scale(1);
						opacity: 1;
						background-color: var(--mint);
						border-color: var(--mint) 1;
					}

					.button__label {
						color: var(--mint);
					}
				}
			}
		}

		&:focus {
			+ {
				.button__tile {
					border-color: var(--mint);
					box-shadow:
						0 2px 5px var(--mint),
						0 0 0 4px var(--mint-secondary);

					&::before {
						transform: translate(0, -50%) scale(1);
						opacity: 1;
					}
				}
			}
		}
	}

	&__tile {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 5px 25px;
		border-radius: 0.5rem;
		border: 2px solid var(--base-03);
		background-color: var(--background-bg);
		box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
		transition: 0.15s ease;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 6px;
			transform: translate(0, -50%) scale(0);
			display: block;
			width: 15px;
			height: 15px;
			border: 2px solid #b5bfd9;
			background-color: var(--mint-secondary);
			border-radius: 50%;
			opacity: 0;
			transition: 0.25s ease;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
			background-size: 12px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}

		&:hover {
			border-color: var(--base-03);

			&::before {
				transform: translate(0, -50%) scale(0);
				opacity: 1;
			}
		}
	}

	&__label {
		color: var(--text-secondary);
		transition: 0.375s ease;
		text-align: center;
	}
}
