.search {
	position: relative;

	&__icon {
		position: absolute;
		left: 10px;
		top: 44%;
		transform: translate(0, -50%);
		z-index: var(--z-modal-content);
	}

	&__input {
		width: 100%;
		min-height: 100%;

		input {
            padding: 10px 10px 10px 35px;
		}
	}
}
