:root {
	/* бэкграунд */
	--background: #fff;
	--background-inverted: #242b33;

	/* текст */
	--text-main: #2c2c2c;
	--text-secondary: #646464;
	--inverted-text-main: #d7d7d7;
	--inverted-text-secondary: #aeaeae;

	/* акцентные цвета */
	--accent-color: #d4c17f;

	/* custom */
	--base-01: #b9b9b9;
}
