.toggle {
	&__actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 39px;
	}

	&__navigation {
		display: flex;
		align-items: center;
		flex-direction: row;

		button {
			margin-right: 8px;
		}
	}

	&__items {}

	&__item {
		margin-bottom: 26px;
	}
}