.button {
	padding: 7px 12px;

	color: var(--text-main);

	border-radius: 5px;

	cursor: pointer;
}

.size {
	&__s {
		padding: 7px 12px;
	}

	&__m {
		padding: 10px 15px;
	}

	&__l {
		padding: 15px 20px;
	}
}

.appearance {
	&__primary {
		color: var(--text-main);
		background: var(--accent-color);
	}

	&__clear {
		padding: 0;
		margin: 0;
		border: none;
		background: none;
	}
}
