.app.dark {
	/* бэкграунд */
	--background: #242b33;
	--background-inverted: #fff;

	/* текст */
	--text-main: #d7d7d7;
	--text-secondary: #aeaeae;
	--inverted-text-main: #2c2c2c;
	--inverted-text-secondary: #646464;

	/* акцентные цвета */
	--accent-color: #d4c17f;

	/* custom */
	--base-01: #727272;
}
